{{ define "main" }}
<main class="pt-20">
    <section class="py-16 lg:py-20">
        <div class="container mx-auto px-4 max-w-screen-xl">
            <header class="text-center mb-12">
                <h2 class="font-quicksand text-3xl lg:text-4xl mb-6">{{ .Title }}</h2>
            </header>
            <hr class="border-gray-300 mb-6 max-w-md mx-auto">

            <div class="prose prose-headings:font-quicksand mx-auto">
            {{ .Content }}
            </div>
        </div>
    </section>
</main>
{{ end }}